<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" [disabled]="isSaving">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit expense' : 'Add expense' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.invalid || isSaving">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="expenseForm">
    <!-- Description -->
    <ion-item>
      <ion-input
        #descriptionInput
        formControlName="description"
        type="text"
        label="Description"
        labelPlacement="floating"
        maxlength="200"
        placeholder="Enter description"
        [disabled]="isSaving">
        <ion-icon name="text" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <!-- Amount -->
    <ion-item>
      <ion-input
        formControlName="amount"
        type="number"
        label="Amount"
        labelPlacement="floating"
        placeholder="0.00"
        [step]="0.01"
        [disabled]="isSaving">
        <ion-icon name="pricetag" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <!-- Category -->
    <ion-item>
      <ion-select
        formControlName="categoryId"
        label="Category"
        labelPlacement="floating"
        placeholder="Select category (optional)"
        [disabled]="isSaving">
        <ion-select-option value="">No category</ion-select-option>
        @for (category of categories; track category.id) {
          <ion-select-option [value]="category.id">
            {{ category.name }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <!-- New Category Button -->
    <ion-button 
      expand="block" 
      fill="clear" 
      size="small"
      (click)="openCategoryModal()"
      [disabled]="isSaving"
      class="ion-margin-top">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      Neue Kategorie erstellen
    </ion-button>

    <!-- Date -->
    <ion-item>
      <ion-datetime-button datetime="expense-date" [disabled]="isSaving">
        <ion-icon name="calendar" slot="start"></ion-icon>
      </ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="expense-date"
          formControlName="date"
          presentation="date"
          [showDefaultButtons]="true">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </form>

  @if (isEditMode) {
    <ion-button 
      expand="block" 
      color="danger" 
      (click)="delete()" 
      [disabled]="isSaving"
      class="ion-margin-top">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete Expense
    </ion-button>
  }
</ion-content>