.user-profile {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
  border-bottom: 1px solid var(--ion-color-medium);
  background: var(--ion-color-light);

  ion-avatar {
    width: 56px;
    height: 56px;

    ion-icon {
      font-size: 56px;
      color: var(--ion-color-primary);
    }
  }

  ion-label h2 {
    font-weight: 500;
    margin: 0;
  }
}

.logout-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--ion-color-medium);

  ion-item {
    --background: var(--ion-color-light);
    
    ion-label {
      font-weight: 600;
      color: var(--ion-color-danger);
    }
    
    ion-icon {
      color: var(--ion-color-danger);
    }
  }
}